[Desktop Entry]
Type=Link
Name=Untitled project
URL=https://script.google.com/d/1BjiroCFON778_pH7tslzjQUQX1agfvRTVtFiPmsVYmoJBr3-2WDhUa7O/edit?usp=drivesdk
